In [1]:
import sqlite3

con = sqlite3.connect('tysql.sqlite')
cursor = con.cursor()

In [2]:
sql = """select
typeof(100),
typeof(10.0),
typeof('100'),
typeof(x'1000'),
typeof(NULL); """

cursor.execute(sql)

In [3]:
cursor.fetchall()

[('integer', 'real', 'text', 'blob', 'null')]

In [4]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

In [5]:
for table in tables:
    cursor.execute(f"SELECT * FROM {table[0]};")
    rows = cursor.fetchall()
    print(f"Data from table {table[0]}:")
    for row in rows:
        print(row)

Data from table Customers:
('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)
Data from table OrderItems:
(20005, 1, 'BR01', 100, 5.49)
(20005, 2, 'BR03', 100, 10.99)
(20006, 1, 'BR01', 20, 5.99)
(20006, 2, 'BR02', 10, 8.99)
(20006, 3, 'BR03', 10, 11.99)
(20007, 1, 'BR03', 50, 11.49)
(20007, 2, 'BNBG01', 100, 2.99)
(20007, 3, 'BNBG02', 100, 2.99)
(20007, 4, 'BNBG03', 100, 2.99)
(20007, 5, 'RGAN01', 50, 4.49)
(20008, 1, 'RGAN01', 5, 4.99)
(20008, 2, 'BR03', 5, 11.99)
(20008, 3, 'BNBG01', 10, 3.49)
(20008, 4, 'BNBG02', 10, 3.49)
(20008, 5, 'BNBG03', 10, 3.49)
(20009, 1, 'BNBG01', 250, 2.49)
(20009, 2, 'BNBG02', 250, 2.49)
(20009, 3, 'BNBG03', 250, 2.49)
Data from table Orders:
(20005, '2012-05-01', '1000000001')
(20006, '2012-01-12', '1000000003')
(20007, '2012-01-30', '1000000004')
(20008, '2012-02-03', '1000000005')
(20009, '2012-02-08', '1000000001')
Data from table Products:
('BR01', 'BRS01', '8 inch teddy bear', 5.99, '8 inch teddy bear, comes with cap and jacket')
('BR02', 'BRS01', '12 inch teddy bear', 8.99, '12 inch teddy bear, comes with cap and jacket')
('BR03', 'BRS01', '18 inch teddy bear', 11.99, '18 inch teddy bear, comes with cap and jacket')
('BNBG01', 'DLL01', 'Fish bean bag toy', 3.49, 'Fish bean bag toy, complete with bean bag worms with which to feed it')
('BNBG02', 'DLL01', 'Bird bean bag toy', 3.49, 'Bird bean bag toy, eggs are not included')
('BNBG03', 'DLL01', 'Rabbit bean bag toy', 3.49, 'Rabbit bean bag toy, comes with bean bag carrots')
('RGAN01', 'DLL01', 'Raggedy Ann', 4.99, '18 inch Raggedy Ann doll')
('RYL01', 'FNG01', 'King doll', 9.49, '12 inch king doll with royal garments and crown')
('RYL02', 'FNG01', 'Queen doll', 9.49, '12 inch queen doll with royal garments and crown')
Data from table Vendors:
('BRS01', 'Bears R Us', '123 Main Street', 'Bear Town', 'MI', '44444', 'USA')
('BRE02', 'Bear Emporium', '500 Park Street', 'Anytown', 'OH', '44333', 'USA')
('DLL01', 'Doll House Inc.', '555 High Street', 'Dollsville', 'CA', '99999', 'USA')
('FRB01', 'Furball Inc.', '1000 5th Avenue', 'New York', 'NY', '11111', 'USA')
('FNG01', 'Fun and Games', '42 Galaxy Road', 'London', None, 'N16 6PS', 'England')
('JTS01', 'Jouets et ours', '1 Rue Amusement', 'Paris', None, '45678', 'France')

In [6]:
# Отримання назв колонок з таблиці
cursor.execute("PRAGMA table_info('Customers')")
columns_customers = [column[1] for column in cursor.fetchall()]

cursor.execute("PRAGMA table_info('OrderItems')")
columns_orderitems = [column[1] for column in cursor.fetchall()]

cursor.execute("PRAGMA table_info('Orders')")
columns_orders = [column[1] for column in cursor.fetchall()]

cursor.execute("PRAGMA table_info('Products')")
columns_products = [column[1] for column in cursor.fetchall()]


# Виведення назв колонок
print(columns_customers)
print(columns_orderitems)
print(columns_orders)
print(columns_products)

['cust_id', 'cust_name', 'cust_address', 'cust_city', 'cust_state', 'cust_zip', 'cust_country', 'cust_contact', 'cust_email']
['order_num', 'order_item', 'prod_id', 'quantity', 'item_price']
['order_num', 'order_date', 'cust_id']
['prod_id', 'vend_id', 'prod_name', 'prod_price', 'prod_desc']

In [7]:
 #Список всіх cust_id з таблиці Customers table.

cursor.execute('Select cust_id from Customers')
cursor.fetchall()

[('1000000001',),
 ('1000000002',),
 ('1000000003',),
 ('1000000004',),
 ('1000000005',)]

In [8]:
#Всю таблицю Customers table
cursor.execute('Select * from Customers')
cursor.fetchall()

[('1000000001',
  'Village Toys',
  '200 Maple Lane',
  'Detroit',
  'MI',
  '44444',
  'USA',
  'John Smith',
  'sales@villagetoys.com'),
 ('1000000002',
  'Kids Place',
  '333 South Lake Drive',
  'Columbus',
  'OH',
  '43333',
  'USA',
  'Michelle Green',
  None),
 ('1000000003',
  'Fun4All',
  '1 Sunny Place',
  'Muncie',
  'IN',
  '42222',
  'USA',
  'Jim Jones',
  'jjones@fun4all.com'),
 ('1000000004',
  'Fun4All',
  '829 Riverside Drive',
  'Phoenix',
  'AZ',
  '88888',
  'USA',
  'Denise L. Stephens',
  'dstephens@fun4all.com'),
 ('1000000005',
  'The Toy Store',
  '4545 53rd Street',
  'Chicago',
  'IL',
  '54545',
  'USA',
  'Kim Howard',
  None)]

In [9]:
#Список клієнтів (cust_names) відсортованих від Z до A
cursor.execute('Select cust_name from Customers order by cust_name desc')
cursor.fetchall()

[('Village Toys',),
 ('The Toy Store',),
 ('Kids Place',),
 ('Fun4All',),
 ('Fun4All',)]

In [10]:
#Таблицю клієнтів та замовлень (cust_id і order_num) . Відсортуйте по клієнту і потім по даті замовлення
cursor.execute('Select Customers.cust_id, cust_name, order_num, order_date from Customers left join Orders on Customers.cust_id = Orders.cust_id order by Customers.cust_id, order_date')
cursor.fetchall()

[('1000000001', 'Village Toys', 20009, '2012-02-08'),
 ('1000000001', 'Village Toys', 20005, '2012-05-01'),
 ('1000000002', 'Kids Place', None, None),
 ('1000000003', 'Fun4All', 20006, '2012-01-12'),
 ('1000000004', 'Fun4All', 20007, '2012-01-30'),
 ('1000000005', 'The Toy Store', 20008, '2012-02-03')]

In [11]:
#Таблицю (на основі Items) з кількість та вартістю товару. Відсортуйте в порядку спадання по кількості та вартості
#'order_num', 'order_item', 'prod_id', 'quantity', 'item_price'

cursor.execute('Select order_num, order_item, quantity, item_price from OrderItems order by order_num, order_item, quantity, item_price')
cursor.fetchall()

[(20005, 1, 100, 5.49),
 (20005, 2, 100, 10.99),
 (20006, 1, 20, 5.99),
 (20006, 2, 10, 8.99),
 (20006, 3, 10, 11.99),
 (20007, 1, 50, 11.49),
 (20007, 2, 100, 2.99),
 (20007, 3, 100, 2.99),
 (20007, 4, 100, 2.99),
 (20007, 5, 50, 4.49),
 (20008, 1, 5, 4.99),
 (20008, 2, 5, 11.99),
 (20008, 3, 10, 3.49),
 (20008, 4, 10, 3.49),
 (20008, 5, 10, 3.49),
 (20009, 1, 250, 2.49),
 (20009, 2, 250, 2.49),
 (20009, 3, 250, 2.49)]

In [12]:
#Товар (з таблиці Products), ціна якого становить 9.49
# 'prod_name', 'prod_price'

cursor.execute('select prod_name, prod_price from Products where prod_price=9.49')
cursor.fetchall()

[('King doll', 9.49), ('Queen doll', 9.49)]

In [13]:
#Виведіть назву товару та ціну, яка лежить в діапазоні від  3 до 6. Відсортуйте результат в по ціні в порядку зростання

cursor.execute('select prod_name, prod_price from Products where prod_price >= 3 and prod_price <= 6 order by prod_price')
cursor.fetchall()

[('Fish bean bag toy', 3.49),
 ('Bird bean bag toy', 3.49),
 ('Rabbit bean bag toy', 3.49),
 ('Raggedy Ann', 4.99),
 ('8 inch teddy bear', 5.99)]

In [16]:
#Кількість товару, що було продано
cursor.execute('Select order_num, sum(quantity) from OrderItems group by order_num order by order_num')
cursor.fetchall()

[(20005, 200), (20006, 40), (20007, 400), (20008, 40), (20009, 750)]

In [19]:
#Кількість найменувань товару, ціна якого більша за 4
cursor.execute('select prod_name, count(prod_name), prod_price from Products where prod_price>4 group by prod_name, prod_price ')
cursor.fetchall()

[('12 inch teddy bear', 1, 8.99),
 ('18 inch teddy bear', 1, 11.99),
 ('8 inch teddy bear', 1, 5.99),
 ('King doll', 1, 9.49),
 ('Queen doll', 1, 9.49),
 ('Raggedy Ann', 1, 4.99)]

In [24]:
#Розробіть алгоритм для виведення 3 найдорожчих товарів в базі
cursor.execute('select prod_name, prod_price from Products order by prod_price desc limit 3')
cursor.fetchall()

[('18 inch teddy bear', 11.99), ('King doll', 9.49), ('Queen doll', 9.49)]

In [39]:
#Підрахуйте кількість замовлень для кожного клієнта використовуючи підзапити

#'cust_id', 'cust_name' order_num
cursor.execute('''SELECT cust.cust_id, cust.cust_name, COALESCE(count(ord.total_orders), 0) as total_orders
FROM Customers cust 
LEFT JOIN (SELECT ord.cust_id, count(ord.order_num) as total_orders 
FROM Orders ord GROUP BY ord.cust_id) as ord 
ON cust.cust_id = ord.cust_id GROUP BY cust.cust_id, cust.cust_name''')
cursor.fetchall()

[('1000000001', 'Village Toys', 1),
 ('1000000002', 'Kids Place', 0),
 ('1000000003', 'Fun4All', 1),
 ('1000000004', 'Fun4All', 1),
 ('1000000005', 'The Toy Store', 1)]

In [42]:
#Виведіть список клієнтів та їх замовлення (використайте JOIN)
cursor.execute('''SELECT cust.cust_id, cust.cust_name, ord.total_orders as total_orders
FROM Customers cust 
LEFT JOIN (SELECT ord.cust_id, ord.order_num as total_orders 
FROM Orders ord GROUP BY ord.cust_id) as ord 
ON cust.cust_id = ord.cust_id GROUP BY cust.cust_id, cust.cust_name''')
cursor.fetchall()

[('1000000001', 'Village Toys', 20005),
 ('1000000002', 'Kids Place', None),
 ('1000000003', 'Fun4All', 20006),
 ('1000000004', 'Fun4All', 20007),
 ('1000000005', 'The Toy Store', 20008)]

In [44]:
#Зробіть два запити: список товарів, ціна яких менша 5 та список товарів, ціна який більша рівна 5. 
#Використайте UNION для об'єднання цих запитів

cursor.execute('''select prod_name, prod_price from Products where prod_price >= 5 UNION ALL select prod_name, prod_price from Products where prod_price < 5''')
cursor.fetchall()

[('8 inch teddy bear', 5.99),
 ('12 inch teddy bear', 8.99),
 ('18 inch teddy bear', 11.99),
 ('King doll', 9.49),
 ('Queen doll', 9.49),
 ('Fish bean bag toy', 3.49),
 ('Bird bean bag toy', 3.49),
 ('Rabbit bean bag toy', 3.49),
 ('Raggedy Ann', 4.99)]